html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: sans-serif;
}

input:focus, select:focus {
  outline:none;
}
img {
  pointer-events: none;
}

.round-lt {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.round-sm {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.round-md { -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.round-lg { -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.button {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.slim {
  scrollbar-width: thin;
  scrollbar-color: #dedede #fff;
}
.slim::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slim::-webkit-scrollbar-track {
  background-color: #fff;
}
.slim::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.half { 
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.login {
  height: 100%;
  text-align: center;
}
.login .box {
  width: 100%;
  max-width: 400px;
  padding: 0 40px;
  text-align:left;
  background: none;
  box-sizing: border-box;
}
.login input {
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #84662a;
  background: #fff;
  color: #222;
  font-size: 16px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.login .button {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: rgba(109, 71, 36, 0.6);
  border: 2px solid #694223;
  color: #fcffd6;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.login .button:hover {
  background: #6a4423;
}

.progress {
  height: 7px;
  background: #e4e4e4;
}
.progress .bar {
  height: 100%;
  background: #b9b9b9;
}

.loading {
  font-size: 50px;
}

#main {
  height: 100%;
  text-align: center;
}
#main.overlay { 
  overflow: hidden;
}

.wrapper { 
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: inline-block;
}

.menu {
  text-align: center;
}
.menu .option {
  cursor: pointer;
  color: #313131;
  font-size: 24px;
  margin: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.menu .tooltip {
  display: none;
  position: absolute;
  font-size: 12px;
  top: -20px;
  left: -15px;
  text-align: center;
  background: #fff;
  border: 1px solid #a5a5a5;
  padding: 4px;
  line-height: 12px;
}
.menu .show .tooltip {
  display: inline-block;
}

.casing { 
  width: 100%;
  max-width: 450px;
  height: 100%;
  padding: 0 5px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.casing.wide {
  width: 250px;
}
.casing.wide .buttons {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: rgba(17, 17, 17, 0.35);
}
.overlay .box {
  width: 400px;
  min-height: 400px;
  background: #fff;
}
.overlay .inner {
  padding: 40px 20px;
}
.overlay .congrats {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.overlay .headline {
  font-size: 20px;
  margin-bottom: 10px;
}
.overlay .details {
  font-weight: bold;
  margin-bottom: 2px;
}
.overlay .bonuses {
  text-align: center;
}
.overlay .inline {
  text-align: right;
  display: inline-block;
}
.overlay .bonus {
  margin: 5px 0;
  font-size: 14px;
}
.overlay .button {
  margin-top: 10px;
  background: #1b8cdc;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 40px;
}

.title {
  font-size: 12px;
  padding-bottom: 2px;
  margin: 5px 0;
  font-weight: bold;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.title .right {
  cursor: pointer;
  font-size: 10px;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.line {
  margin-bottom: 5px;
  font-size: 12px;
}
.line.center { 
  text-align: center;
}
.line .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.line .amount {
  position: absolute;
  right: 5px;
  top: 0;
}
.line .topper {
  margin-bottom: 2px;
  position: relative;
}
.header.line {
  font-size: 12px;
  font-weight: bold;
  background: #565656;
  color: #d6d6d6;
  border: none;
}
.craft.line {
  padding: 5px;
}
.craft.line.selected:hover {
  background: none;
}
.craft.line:hover {
  background: #f5f5f5;
}
.crafting.line {
  margin-bottom: 10px;
  max-width: none;
}
.crafting.line .panel {
  border-left: 3px solid #ccc;
  position: relative;
  padding: 0 10px;
  margin-left: 50px;
}
.crafting.line .topper {
  position: relative;
  margin-bottom: 5px;
}
.crafting.line .amount {
  right: 0;
  top: 0;
}
.trademark.line .amount {
  top: 10px;
  right: 10px;
}

.trademark .topper {
  background: #f7f7f7;
  border: 1px solid #a9a9a9;
  color: #525252;
  padding: 5px 7px;
}

.info {
  font-size: 12px;
  position: relative;
}
.info .button {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #dadada;
  background: #fbfbfb;
}

.listing:nth-child(even) {
  background: #fff;
}
.listing:nth-child(odd) {
  background: #f3f3f3;
}
.listing.highlight {
  background: #d8d8d8;
}

.buttons .button { 
  padding: 5px 0;
  border: 1px solid #dadada;
  background: #fbfbfb;
  width: 100%;
}
.buttons .button:hover { 
  border: 1px solid #dedede;
  background: #f1f1f1;
}
.buttons .button.highlight { 
  border: 1px solid #444444;
  background: #676767;
  color: #fff;
}
.buttons .groups, .buttons .types {
  text-align: center;
}
.buttons .group, .buttons .type { 
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  padding: 1px 2px;
}
.buttons .type { 
  width: 49.5%;
}

.pending .buttons {
  margin-bottom: 2px;
  text-align: center;
}
.pending .inputs {
  margin-bottom: 2px;
  padding: 0 2px;
}
.pending input {
  width: 100%;
  font-size: 12px;
  border: 1px solid #dadada;
  display: inline-block;
  box-sizing: border-box;
}
.pending .item {
  width: 70%;
  padding-right: 2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.pending .level {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}
.pending .level input {
  text-align: center;
}
.pending .option { 
  text-align: center;
}
.pending .option .button {
  width: 95%;
  text-align: center;
  padding: 2px 0;
  border: 1px solid #dadada;
  background: #fbfbfb;
  color: #717171;
  margin-bottom: 2px;
}
.pending .option .selection.button {
  width: 85%;
}
.pending .option .selected.button, .pending .option .chosen.button {
  width: 90%;
  text-align: left;
  padding: 2px 5px;
}
.pending .option .selected .remove, .pending .option .chosen .remove {
  float: right;
  font-weight: bold;
}
.pending .ready {
  width: 90%;
  margin: 0 auto;
}
.pending .ready .button {
  width: 100%;
  text-align: center;
  background: #589c6d;
  color: #f3fff7;
  border: 1px solid #306942;
}

.player { 
  position: relative;
}
.player .over {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background: #fff;
}
.player .box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 62px 15px 0 15px;
  box-sizing: border-box;
}
.player .start {
  padding: 10px;
}
.player .start .button {
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #4e4e4e;
  background: #f3f3f3;
  border: 1px solid #ccc;
}
.player .start span {
  vertical-align: middle;
}
.player .start .mdi {
  font-size: 24px;
  margin-right: 10px;
}

.players {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}
.players .name, .players .amount {
  display: inline-block;
}
.players .logout {
  float: right;
}

.board .buttons .half {
  padding: 1px 2px;
  box-sizing: border-box;
}

.items.header {
  width: 95%;
  margin: 5px auto;
  color: #525252;
  font-size: 11px;
}
.items.header .close {
  cursor: pointer;
  float: right;
}

.craft .topper {
  cursor: pointer;
  margin: 0;
}
.craft.selected .topper {
  margin-bottom: 5px;
}
.craft .topper .name {
  margin-right: 5px;
}
.craft.selected .topper {
  font-weight: bold;
  color: #3e3e3e;
}
.craft .details {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  position: relative;
}
.craft .details .amount {
  top: 5px;
}
.craft select {
  width: 95%;
  padding: 2px;
  border: 1px solid #dadada;
  background: #fbfbfb;
  color: #2b2b2b;
  margin: 0 auto;
  display: inherit;
}
.craft option {
  outline: none;
  border: none;
}
.craft .button { 
  width: 95%;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #306942;
  background: #589c6d;
  color: #f3fff7;
  margin: 5px auto 0 auto;
  display: inherit;
}

.notices {
  margin: 10px 5px;
}
.notices .notice {
  padding: 0 5px;
}

.crafting {
  max-width: 300px;
  margin: 0 auto;
}
.crafting .buttons {
  max-width: 250px;
  margin: 5px auto;
}
.crafting .printing {
  position: absolute;
  right: 0;
}
.crafting .current {
  position: relative;
}
.crafting .progress {
  margin-bottom: 5px;
}
.crafting .print {
  font-weight: bold;
  margin-right: 5px;
}
.crafting .happiness {
  position: absolute;
  font-size: 30px;
  width: 50px;
  text-align: center;
  left: -53px;
  top: 0;
}
.crafting .quick {
  font-size: 10px;
}
.crafting .topper .timer {
  margin-left: 5px;
}
.crafting .bottom {
  text-align: right;
  margin: 5px 0;
  padding: 0 5px;
}
.crafting .bottom .inner {
  min-width: 300px;
  display: inline-block;
}
.crafting .bottom .details {
  text-align: left;
  box-sizing: border-box;
}
.crafting .bottom .details .top {
  border: 1px solid #dedede;
  border-bottom: none;
  padding: 5px 10px;
  position: relative;
}
.crafting .bottom .details .hourly {
  position: absolute;
  right: 10px;
}
.crafting .bottom .actions {
  text-align: center;
  background: #f7f7f7;
  border: 1px solid #dedede;
  border-top: 0;
  padding: 2px 5px;
}
.crafting .bottom .details .progress {
  height: 20px;
}
.crafting .bottom .details .progress {
  margin-bottom: 0;
  position: relative;
  height: 10px;
}
.crafting .bottom .details .progress span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
}
.crafting .bottom .button {
  border: 1px solid #dadada;
  background: #fbfbfb;
  margin: 2px;
}
.crafting .employees {
  position: relative;
  width: 100%;
  height: 26px;
  max-width: 400px;
  margin: 0 auto;
}
.crafting .options {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.crafting .option {
  padding: 5px;
}
.crafting .option:hover {
  background: #f3f3f3;
}
.crafting .option .current {
  margin-left: 5px;
  font-size: 11px;
  font-weight: bold;
}
.crafting .option .data { 
  position: relative;
}
.crafting .option .data .skill {
  position: absolute;
  right: 0;
}
.crafting .option .data .skill span {
  vertical-align: middle;
  line-height: 14px;
}
.crafting .option .data .skill .level {
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
}
.crafting .option .data .skill .mdi {
  margin-left: 2px;
  font-size: 24px;
  line-height: 14px;
  vertical-align: middle;
}

.inventory .item .left, .inventory .item .right {
  padding: 2px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 60%;
}
.inventory .item .right {
  width: 40%;
}
.inventory .item input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  border: 1px solid #dadada;
  padding: 2px;
}
.inventory .item .button {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 2px 0;
  border: 1px solid #dadada;
  background: #fbfbfb;
  cursor: initial;
}
.inventory .item .button.ready {
  border: 1px solid #306942;
  background: #589c6d;
  color: #f3fff7;
  cursor: pointer;
}
.inventory .all {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}
.inventory .amount {
  margin-left: 5px;
}
.inventory .all .button {
  border: 1px solid #dadada;
  background: #fbfbfb;
}
.inventory .item .receive {
  text-align: center;
  padding: 2px;
  background: #58839c;
  color: #eaf6fd;
  width: 95%;
  margin: 2px auto;
}
.inventory .item .small {
  font-size: 10px;
  margin-right: 3px;
}

.workers .line {
  cursor: pointer;
  margin: 10px 5px 0 0;
  padding: 5px;
  border: 1px solid transparent;
}
.workers .line:hover {
  background: #f9f9f9;
  border: 1px solid #f1efef;
}
.workers .line .amount {
  top: 0;
  right: 0;
  font-size: 11px;
}
.workers .line .amount.sorting {
  top: 0;
  cursor: pointer;
}
.workers .line .amount.sorting span { 
  vertical-align: middle;
}
.workers .line .amount.sorting .mdi {
  font-size: 19px;
  margin-left: 5px;
}
.workers .line .topper {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin: 4px 0;
  font-weight: bold;
}
.workers .data {
  position: relative;
  min-height: 40px;
  margin-left: 40px;
  padding-left: 10px;
  box-sizing: border-box;
}
.workers .data .happiness {
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 30px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-right: 3px solid #ccc;
}
.workers .skill {
  font-size: 11px;
  margin: 0 5px 3px 0;
}
.workers .skill .print {
  font-weight: bold;
}
.workers .stats {
  font-weight: bold;
}
.workers .bottom {
  text-align: right;
  padding: 4px 0;
}
.workers .bottom .button {
  margin: 0 0 3px 3px;
  border: 1px solid #dadada;
  background: #fbfbfb;
}
.workers .progress {
  margin-bottom: 3px;
  position: relative;
  height: 10px;
}
.workers .progress span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.station { 
  text-align: center;
}
.station .topper {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}
.station .details {
  background: #f7f7f7;
  border: 1px solid #dedede;
  border-top: 0;
  text-align: right;
  padding: 5px 10px;
}
.station .details .button {
  border: 1px solid #ccc;
  background: #fff;
  margin-left: 5px;
}
.station .amounts .detail {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.station .amounts .detail span {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}
.station .amounts .detail .mdi {
  font-size: 17px;
  color: #4a4a4a;
  margin-right: 2px;
}
.station .progress {
  height: 15px;
}
.station .progress .timer {
  line-height: 15px;
  font-size: 11px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.station .upgrades {
  text-align: left;
  font-size: 10px;
  border: 1px solid #dedede;
  color: #4a4a4a;
  padding: 5px 10px;
}

.line.statistic {
  font-size: 11px;
}
.statistic .small {
  font-size: 10px;
  font-weight: bold;
  margin-right: 2px;
}

.quests .refresh {
  text-align: center;
  font-size: 12px;
  background: #dedede;
  padding: 2px;
  margin-bottom: 2px;
}
.quest {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 4px;
}
.quest .mode {
  font-weight: bold;
  margin-bottom: 2px;
}
.quest .topper {
  position: relative;
}
.quest .topper .amount {
  right: 0;
  top: 0;
}
.quest .data {
  position: relative;
  padding: 2px 0;
}
.quest .data .amount {
  right: 0;
  top: 2px;
}
.quest .bottom {
  text-align: center;
}
.quest .bottom .button {
  margin: 0 0 3px 3px;
  border: 1px solid #dadada;
  background: #fbfbfb;
}
.quest .bottom .button.ready {
  border: 1px solid #306942;
  background: #589c6d;
  color: #f3fff7;
}